<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nakuh.web.mapper.VisitorMapper">
	<insert
		 id="insertVisitor" 
		 parameterType="com.nakuh.web.domain.Visitor" 
		 flushCache="true"
		 statementType="PREPARED"
		 timeout="20">
	  INSERT INTO VISITOR(VISITID,
	  						VISITTIME)
	VALUES(#{visitid},
		   #{visittime});
 
 </insert>
 <select id="todayVisitor" resultType="Integer"
	parameterType="String">
		SELECT COUNT(*)
		FROM VISITOR
		WHERE VISITTIME LIKE #{tvs}
</select>
	
</mapper>
